/* Author: Carl Kevin Gasal 
   Date: 03-15-2023

/* CSS styles for the address form */
h1{
    text-align: center;
  }
  form {
    display: block;
    flex-wrap: wrap;
    border: #c1c1c1 solid;
  }
  
  .address {
    width: 45%;
  }
  
  input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    
  }
  
  label {
    display: inline-block;
    margin-bottom: 5px;
  }
  
  button[type="submit"] {
    margin-top: 20px;
  }
  
  .invalid-input {
    background-color: rgb(243, 94, 118);
  }

  /* Designing the Container: Controlling the both forms */

  .container{
    display: flex;
    width: 75%;
    border: solid 1px blue;
    margin: auto;
    padding: 15px;  
    justify-content: center;
    vertical-align: middle  ;
  }

  /* Designing the forms and its inputs*/

  .address{
    flex: 50%;
    padding: 10px;
    padding-left: 45px;
    height: auto;
    border: solid 1px red;
    float: left;
    width: 50%;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
  input[type="text"] {
    width: 75%;
    padding: 7px 35px;
    margin: 4px 0;
    box-sizing: border-box;
  }